APP_NAME=refer-cheat-to-do
APP_ENV=development
DEBUG=true
SECURITY_SALT=change-me-to-a-long-random-string
APP_FULL_BASE_URL=http://localhost:8765

DB_HOST=db
DB_PORT=5432
DB_DATABASE=refer_cheat_to_do
DB_USERNAME=refer_cheat_to_do
DB_PASSWORD=refer_cheat_to_do

TEST_DB_HOST=db
TEST_DB_PORT=5432
TEST_DB_DATABASE=refer_cheat_to_do_test
TEST_DB_USERNAME=refer_cheat_to_do
TEST_DB_PASSWORD=refer_cheat_to_do
